<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
<system.web>
        <customErrors mode="Off"/>
    </system.web>
  <connectionStrings>
	<add name="ConnectionString" 
       connectionString="Server = ms4607568.xincache1.cn; User Id= ms4607568;Pwd=Y3S9Y7a5;DataBase = ms4607568"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" defaultLanguage="c#" explicit="true" strict="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <identity impersonate="true" />
    <authentication mode="Forms" />    
  </system.web>
  <system.webServer>
      <!--<modules>
        <add name="MyModule" type="MyApp.MyModule" />      
      </modules>
      <handlers>
        <add name="MyHandler" path="*.myh" verb="GET" type="MyApp.MyHandler" preCondition="integratedMode" />
      </handlers>-->
      <validation validateIntegratedModeConfiguration="false" />
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <remove value="Default.htm" />
                <remove value="Default.asp" />
                <remove value="index.htm" />
                <remove value="index.html" />
                <remove value="iisstart.htm" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>